<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Bienvenidos</h1>
        <h2>TDG!</h2>

        <h3>Miembros:</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Tag</th>
              <th scope="col">Nombre</th>
              <th scope="col">Role</th>
              <th scope="col">Nivel Rey</th>
              <th scope="col">Trofeos</th>
              <th scope="col">Donaciones</th>
              <th scope="col">Donaciones Recibidas</th>
            </tr>
          </thead>
          <tbody>
             {{#each examples}}
            <tr>
              <th scope="row">{{this.rank}}</th>
              <td>{{this.tag}}</td>
              <td>{{this.name}}</td>
              <td>{{this.role}}</td>
              <td>{{this.expLevel}}</td>
              <td>{{this.trophies}}</td>
              <td>{{this.donations}}</td>
              <td>{{this.donationsReceived}}</td
            </tr>
            {{/each}}

          </tbody>
        </table>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>